.notification-right {
  box-shadow: -3px 0 6px rgba(0, 0, 0, .24);
  position: fixed;
  top: 64px;
  right: 0;
  transition: 0.3s;
  width: 260px;
  height: 100vh;
  overflow: auto;
  background: #FFFFFF;
  z-index: 100;
}
.button-back{
  position: fixed;
  right: 265px;
  top: 50%;
  justify-content: center;
}
a:link, a:active a:visited {
  color:#000000 ;
}
a:hover{
  color: #3f51b5;
}
