<div class="notification-right">
    <md-table #table [dataSource]="dataSource">

        <ng-container cdkColumnDef="name">
            <md-header-cell *cdkHeaderCellDef> Candidate Name</md-header-cell>
            <md-cell *cdkCellDef="let row"> <a [routerLink]="['/','detail-candidate',row.id]" (click)="close()">{{row.candidateName}}</a></md-cell>
        </ng-container>

        <ng-container cdkColumnDef="date">
            <md-header-cell *cdkHeaderCellDef> Date</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.date|date:'dd.MM.y'}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="time">
            <md-header-cell *cdkHeaderCellDef> Time</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.date|date:'HH:mm'}}</md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
</div>
<a md-mini-fab class="button-back" (click)="close()"><md-icon>keyboard_arrow_right</md-icon></a>
