<div class="leftBar">
    <person-page-filter></person-page-filter>
    <filter-person class="scroll" (send)="send($event)"></filter-person>
</div>
<div class="wrap">
    <global-search (sendSearchLine)="sendSearchLine($event)" ></global-search>
    <button-add [inputAdress]="urlAdress"></button-add>
    <list style="top: 100px;"  [list]="listItem"></list>
    <a *ngIf="flagOfButtonShowMore" md-fab class="paginationButton" (click)="onClick()"><md-icon>format_line_spacing</md-icon></a>
    <a md-fab class="downloadButton" (click)="OnDownload()"><md-icon>file_download</md-icon></a>
</div>
