<div class="leftBar">
    <person-page-filter></person-page-filter>
    <filter-person class="scroll" (send)="send($event)"></filter-person>
</div>
<div class="wrap">
    <global-search (sendSearchLine)="sendSearchLine($event)" ></global-search>
    <list style="top: 100px;"  [list]="listItem"></list>
    <div class="float-button">
        <ng2-float-btn [mainButton]="mainButton" [buttons]="buttons"  [direction]="'up'">
        </ng2-float-btn>
    </div>
    <a *ngIf="flagOfButtonShowMore" md-fab class="paginationButton" (click)="onClick()"><md-icon>format_line_spacing</md-icon></a>
</div>
