<div class="container">
    <accordion>
        <md-tab-group class="filter" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px"
                      fxLayoutAlign="center start">
            <md-tab label="Person">
                <filter-person></filter-person>
            </md-tab>
            <md-tab label="Vacancy">
                <filter-vacancy></filter-vacancy>
            </md-tab>
            <md-tab label="History">
            </md-tab>
        </md-tab-group>
    </accordion>
</div>
