<div class="container">
    <accordion>
        <md-tab-group class="filter" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px"
                      fxLayoutAlign="center start">
            <md-tab label="Person">
                <accordion-group>
                    <accordion-heading>
                        <md-icon mdSuffix>location_on</md-icon>
                        Location
                        <md-icon class="buttonMore">expand_more</md-icon>
                    </accordion-heading>
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <md-icon mdSuffix>star</md-icon>
                            <span>Primary skill</span>
                        <md-icon class="buttonMore">expand_more</md-icon>
                    </accordion-heading>
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <md-icon mdSuffix>attach_money</md-icon>
                        Salary
                        <md-icon class="buttonMore">expand_more</md-icon>
                    </accordion-heading>
                    <md-slider thumbLabel max="9999"></md-slider>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <md-icon mdSuffix>language</md-icon>
                        English level
                        <md-icon class="buttonMore">expand_more</md-icon>
                    </accordion-heading>
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <md-icon mdSuffix>done</md-icon>
                        Status
                        <md-icon class="buttonMore">expand_more</md-icon>
                    </accordion-heading>
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <md-icon mdSuffix>work</md-icon>
                        Work experience
                        <md-icon class="buttonMore">expand_more</md-icon>
                    </accordion-heading>
                    <md-input-container>
                        <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    </md-input-container>
                    <md-datepicker #picker></md-datepicker>
                </accordion-group>
            </md-tab>
            <md-tab label="Vacancy">
                <accordion-group heading="Location">
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group heading="Primary skill">
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group heading="Salary">
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group heading="English level">
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group heading="Status">
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
                <accordion-group heading="Work experience">
                    <ul class="sub-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </accordion-group>
            </md-tab>
            <md-tab label="History">
            </md-tab>
        </md-tab-group>
    </accordion>
</div>
