<accordion>
    <accordion-group>
        <accordion-heading>
            <md-icon mdSuffix>location_on</md-icon>
            Location
            <md-icon class="buttonMore">expand_more</md-icon>
        </accordion-heading>
        <ul class="sub-menu">
            <li *ngFor="let item of sendArrayOfCities; let i = index">
                <check-box [(info)]="sendArrayOfCities[i]" (onChanged)="onChanged($event,'city')"></check-box>
            </li>
        </ul>
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <md-icon mdSuffix>star</md-icon>
            <span>Primary skill</span>
            <md-icon class="buttonMore">expand_more</md-icon>
        </accordion-heading>
        <ul class="sub-menu">
            <li *ngFor="let item of sendArrayOfSkills; let i = index">
                <check-box [(info)]="sendArrayOfSkills[i]" (onChanged)="onChanged($event,'skill')"></check-box>
            </li>
        </ul>
    </accordion-group>
</accordion>
