<header>
    <div class="logo-items">
        <img src="../assets/logo2.png" alt="Company logo" >
        <md-icon class="mobile-menu-icon" (click)="menuToggle()">menu</md-icon>
        <span class="logo-name" (click)="mainPage()">PickBrains</span>
    </div>
    <div class="user-items">
        <span>{{person}}</span>
        <div class="menu">
            <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon class="user-menu-icon">expand_more</md-icon>
            </button>
            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="onClick()">
                    <md-icon>work</md-icon>
                    <span class="user-menu-items">Interviews</span>
                </button>
                <button md-menu-item (click)="logout()">
                    <md-icon>exit_to_app</md-icon>
                    <span class="user-menu-items">Logout</span>
                </button>
            </md-menu>
        </div>
    </div>
</header>
