<a [routerLink]="['detail-vacancy',item.id]">
    <div class="vacancy-card">
        <div class="first-block">
            <div>
                <h4>{{item.name}}</h4>
                <span class="date">{{item.request_date | date: mediumTime }}</span>
            </div>
            <p>{{item.id}}</p>
        </div>
        <div class="second-block">
            <span>{{item.status}}</span>
            <div class="tags">
                <span class="tags-item">{{item.skill_name}}</span>
                <span class="tags-item">{{item.city}}</span>
            </div>
        </div>
    </div>
</a>
