.wrapper {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 64px;
  width: 100%;

}

span {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 999999;
}
