<form>
    <input-text [(model)]="generalItems[0].value" [placeholder]="generalItems[0].placeholder"></input-text>
    <select-component [(model)]="generalItems[4].value" [options]="generalItems[4].options"
                      [placeholder]="generalItems[4].placeholder"></select-component>
    <date-picker [(model)]="generalItems[2].value" [placeholder]="generalItems[2].placeholder"></date-picker>
    <date-picker [(model)]="generalItems[3].value" [placeholder]="generalItems[3].placeholder"></date-picker>
    <select-component [(model)]="generalItems[1].value" [options]="generalItems[1].options" [placeholder]="generalItems[1].placeholder"></select-component>
    <input-text [(model)]="generalItems[11].value" [placeholder]="generalItems[11].placeholder"></input-text>
    <select-component [(model)]="generalItems[5].value" [options]="generalItems[5].options"
                      [placeholder]="generalItems[5].placeholder"></select-component>
    <date-picker [(model)]="generalItems[6].value" [placeholder]="generalItems[6].placeholder"></date-picker>
    <select-component [(model)]="generalItems[7].value" [options]="generalItems[7].options"
                      [placeholder]="generalItems[7].placeholder"></select-component>
    <input-text [(model)]="generalItems[8].value" [placeholder]="generalItems[8].placeholder"></input-text>
    <input-text [(model)]="generalItems[9].value" [placeholder]="generalItems[9].placeholder"></input-text>
    <input-textarea [(model)]="generalItems[10].value" [placeholder]="generalItems[10].placeholder"></input-textarea>
</form>

