<form *ngIf="isVacancy()">
    <input-text [(model)]="model.projectName" (modelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.location" (modelChange)="onModelChange($event)"></select-component>
    <date-picker [(model)]="model.requestDate" (modelChange)="onModelChange($event)"></date-picker>
    <date-picker [(model)]="model.projectStartDate" (modelChange)="onModelChange($event)"></date-picker>
    <select-component [(model)]="model.status" (modelChange)="onModelChange($event)"></select-component>
    <select-mark-component [(model)]="model.primarySkill" (modelChange)="onModelChange($event)"></select-mark-component>
    <date-picker [(model)]="model.workExperience" (modelChange)="onModelChange($event)"></date-picker>
    <select-component [(model)]="model.englishLevel" (modelChange)="onModelChange($event)"></select-component>
    <select-mark-component *ngFor="let item of model.secondarySkills; let i = index"
                           [(model)]="model.secondarySkills[i]"
                           (modelChange)="onModelChange($event)"></select-mark-component>
    <select-component *ngFor="let item of model.otherSkills; let i = index"
                      [(model)]="model.otherSkills[i]" (modelChange)="onModelChange($event)"></select-component>
    <input-text [(model)]="model.salaryWish" (modelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.linkedIn" (modelChange)="onModelChange($event)"></input-text>
    <input-textarea [(model)]="model.description" (modelChange)="onModelChange($event)"></input-textarea>
    <a *ngIf="flagOfButtonShowMore" md-fab class="editButton" (click)="onClickVacancy()">
        <md-icon>edit</md-icon>
    </a>
</form>

<form *ngIf="isCandidate()">
    <input-text [(model)]="model.firstName" (modelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.lastName" (modelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.location" (modelChange)="onModelChange($event)"></select-component>
    <select-component [(model)]="model.status" (modelChange)="onModelChange($event)"></select-component>
    <select-mark-component [(model)]="model.primarySkill" (modelChange)="onModelChange($event)"></select-mark-component>
    <date-picker [(model)]="model.workExperience" (modelChange)="onModelChange($event)"></date-picker>
    <select-mark-component *ngFor="let item of model.secondarySkills; let i = index"
                           [(model)]="model.secondarySkills[i]"
                           (modelChange)="onModelChange($event)"></select-mark-component>
    <select-component *ngFor="let item of model.otherSkills; let i = index"
                      [(model)]="model.otherSkills[i]"
                      (modelChange)="onModelChange($event)"></select-component>
    <select-component [(model)]="model.englishLevel" (modelChange)="onModelChange($event)"></select-component>
    <input-email *ngFor="let item of model.emailAddresses; let i = index"
                 [(model)]="model.emailAddresses[i]"
                 (modelChange)="onModelChange($event)"></input-email>
    <input-phone-text [(model)]="model.phoneNumbers" (modelChange)="onModelChange($event)"></input-phone-text>
    <input-text [(model)]="model.linkedIn" (modelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.skypeId" (modelChange)="onModelChange($event)"></input-text>
    <a *ngIf="flagOfButtonShowMore" md-fab class="editButton" (click)="onClickCandidate()">
        <md-icon>edit</md-icon>
    </a>
</form>
