/deep/ .mat-tab-label{
  min-width: 84px !important;
  line-height: 35px !important;
  height: 35px !important;
  font-size: 1em ;
  color: black;
}
//.div-filter::after {
//  z-index: 1;
//  width:252px;
//  background-color: white;
//  border: 1px solid rgba(0,0,0,.03);
//  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
//}
.div-filter {
    z-index:1 ;
    width:252px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  }
md-select{
  margin-left: 5px;
  width: 252px;
}
/deep/ .mat-select-arrow,.mat-select-disabled , .mat-select-trigger {
  color: #ec407a;
}
md-list-item{
  margin-bottom: 15px;
}
md-list{
  margin-top: 5px;
}
/deep/.mat-select-underline{
  display: none;
}
/deep/.mat-select-placeholder.mat-floating-placeholder{
  visibility: hidden;
}
