.filter-head {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  transition: 0.3s;
}

.all {
  overflow: hidden;
}

.mat-tab-link {
  min-width: 84px !important;
}

.mat-tab-link:hover {
  background-color: #F5F5F5;
  color: #3f51b5;
  font-weight: 500;
  opacity: 1;
}

.routerLinkActive {
  color: #3f51b5;
  font-weight: 500;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .filter-head {
    display: none;
  }
}

.empty-block {
  background-color: #3f51b5;
  height: 160px;
}

img {
  height: 160px;
  opacity: 0.25;
  width: 260px;
  z-index: 500;
}
