.filter-head{
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  background-color: #ffffff;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 64px;
  transition: 0.3s;
  width: 260px;
  overflow: hidden;
}

.mat-tab-link {
   min-width: 84px !important;
}
.mat-tab-link:hover {
  background-color: #F5F5F5;
  color: #3f51b5;
  font-weight: 500;
  opacity: 1;
}
/deep/.mat-ink-bar {
  display: none !important;
}
.mat-tab-nav-bar {
  width: 260px;
}

.active {
  color: #3f51b5;
  font-weight: 500;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .filter-head {
    display: none;
  }
}

.empty-block {
  background-color: #3f51b5;
  height: 160px;
}
img {
  height: 160px;
  opacity: 0.25;
  width: 260px;
  z-index: 500;
}
