<form>
    <input-text [model]="model.name"></input-text>
    <date-picker [model]="model.date"></date-picker>
    <input-textarea [model]="model.reason"></input-textarea>
    <input-text [model]="model.readinessToWork"></input-text>
    <input-text [model]="model.readinessToBusinessTrip"></input-text>
    <input-textarea [model]="model.motivation"></input-textarea>
    <input-text [model]="model.englishLevel"></input-text>
    <input-text [model]="model.salary"></input-text>
    <input-textarea [model]="model.comment"></input-textarea>
</form>
