.center-spinner {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0.97;
  z-index: 999999;
}

.close {
  display: none;
}
