<form>
    <input-text [(model)]="model.projectName" (ngModelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.location" (ngModelChange)="onModelChange($event)"></select-component>
    <date-picker [(model)]="model.requestDate" (ngModelChange)="onModelChange($event)"></date-picker>
    <date-picker [(model)]="model.projectStartDate" (ngModelChange)="onModelChange($event)"></date-picker>
    <select-component [(model)]="model.status" (ngModelChange)="onModelChange($event)"></select-component>
    <input-text [(model)]="model.resumeLink" (ngModelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.primarySkill" (ngModelChange)="onModelChange($event)"></select-component>
    <date-picker [(model)]="model.workExperience" (ngModelChange)="onModelChange($event)"></date-picker>
    <select-component [(model)]="model.englishLevel" (ngModelChange)="onModelChange($event)"></select-component>
    <input-text *ngFor="let item of model.otherSkills; let i = index" [(model)]="model.otherSkills[i]"></input-text>
    <input-textarea [(model)]="model.description" (ngModelChange)="onModelChange($event)"></input-textarea>
</form>
