<!--<form>-->
    <!--<input-text [(model)]="model.projectName" (ngModelChange)="onModelChange($event)"></input-text>-->
    <!--<select-component [(model)]="model.location" (ngModelChange)="onModelChange($event)"></select-component>-->
    <!--<date-picker [(model)]="model.requestDate" (ngModelChange)="onModelChange($event)"></date-picker>-->
    <!--<date-picker [(model)]="model.projectStartDate" (ngModelChange)="onModelChange($event)"></date-picker>-->
    <!--<select-component [(model)]="model.status" (ngModelChange)="onModelChange($event)"></select-component>-->
    <!--&lt;!&ndash;<input-text [(model)]="model.resumeLink" (ngModelChange)="onModelChange($event)"></input-text>&ndash;&gt;-->
    <!--<select-component [(model)]="model.primarySkill" (ngModelChange)="onModelChange($event)"></select-component>-->
    <!--<date-picker [(model)]="model.workExperience" (ngModelChange)="onModelChange($event)"></date-picker>-->
    <!--<select-component [(model)]="model.englishLevel" (ngModelChange)="onModelChange($event)"></select-component>-->
    <!--<input-text *ngFor="let item of model.otherSkills; let i = index" [(model)]="model.otherSkills[i]" (ngModelChange)="onModelChange($event)"></input-text>-->
    <!--<input-textarea [(model)]="model.description" (ngModelChange)="onModelChange($event)"></input-textarea>-->
<!--</form>-->

<form *ngIf="isVacancy()">
    <!--<input-text [(model)]="model.projectName" (ngModelChange)="onModelChange($event)"></input-text>-->
    <!--<select-component [(model)]="model.location" (ngModelChange)="onModelChange($event)"></select-component>-->
    <!--<date-picker [(model)]="model.requestDate" (ngModelChange)="onModelChange($event)"></date-picker>-->
    <!--<date-picker [(model)]="model.projectStartDate" (ngModelChange)="onModelChange($event)"></date-picker>-->
    <!--<select-component [(model)]="model.status" (ngModelChange)="onModelChange($event)"></select-component>-->
    <!--<input-text [(model)]="model.resumeLink" (ngModelChange)="onModelChange($event)"></input-text>-->
    <!--<select-component [(model)]="model.primarySkill" (ngModelChange)="onModelChange($event)"></select-component>-->
    <!--<date-picker [(model)]="model.workExperience" (ngModelChange)="onModelChange($event)"></date-picker>-->
    <!--<select-component [(model)]="model.englishLevel" (ngModelChange)="onModelChange($event)"></select-component>-->
    <!--<input-text *ngFor="let item of model.otherSkills; let i = index" [(model)]="model.otherSkills[i]"></input-text>-->
    <!--<input-textarea [(model)]="model.description" (ngModelChange)="onModelChange($event)"></input-textarea>-->

    <input-text [(model)]="model.projectName" (ngModelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.location" (ngModelChange)="onModelChange($event)"></select-component>
    <date-picker [(model)]="model.requestDate" (ngModelChange)="onModelChange($event)"></date-picker>
    <date-picker [(model)]="model.projectStartDate" (ngModelChange)="onModelChange($event)"></date-picker>
    <select-component [(model)]="model.status" (ngModelChange)="onModelChange($event)"></select-component>
    <!--<input-text [(model)]="model.resumeLink" (ngModelChange)="onModelChange($event)"></input-text>-->
    <select-component [(model)]="model.primarySkill" (ngModelChange)="onModelChange($event)"></select-component>
    <date-picker [(model)]="model.workExperience" (ngModelChange)="onModelChange($event)"></date-picker>
    <select-component [(model)]="model.englishLevel" (ngModelChange)="onModelChange($event)"></select-component>
    <input-text *ngFor="let item of model.otherSkills; let i = index" [(model)]="model.otherSkills[i]" (ngModelChange)="onModelChange($event)"></input-text>
    <input-textarea [(model)]="model.description" (ngModelChange)="onModelChange($event)"></input-textarea>
</form>

<form *ngIf="isCandidate()">
    <input-text [(model)]="model.firstName" (ngModelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.lastName" (ngModelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.location" (ngModelChange)="onModelChange($event)"></select-component>
    <select-component [(model)]="model.status" (ngModelChange)="onModelChange($event)"></select-component>
    <select-component [(model)]="model.primarySkill" (ngModelChange)="onModelChange($event)"></select-component>
    <date-picker [(model)]="model.workExperience" (ngModelChange)="onModelChange($event)"></date-picker>
    <input-text *ngFor="let item of model.secondarySkills; let i = index" [(model)]="model.secondarySkills[i]"
                      (ngModelChange)="onModelChange($event)"></input-text>
    <input-text *ngFor="let item of model.otherSkills; let i = index" [(model)]="model.otherSkills[i]"
                      (ngModelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.englishLevel" (ngModelChange)="onModelChange($event)"></select-component>
    <!--<input-text [(model)]="model.resumeLink" (ngModelChange)="onModelChange($event)"></input-text>-->
    <!--<select-component *ngFor="let item of model.vacancies; let i = index" [(model)]="model.vacancies[i]"-->
                      <!--(ngModelChange)="onModelChange($event)"></select-component>-->
    <input-text *ngFor="let item of model.emailAdresses; let i = index" [(model)]="model.emailAdresses[i]"
                (ngModelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.phoneNumbers" (ngModelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.linkedIn" (ngModelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.skypeId" (ngModelChange)="onModelChange($event)"></input-text>
</form>
