<form class="add" *ngIf="isCandidateAdd()">
    <input-text [(model)]="model.firstName" (modelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.lastName" (modelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.location" (modelChange)="onModelChange($event)"></select-component>
    <select-mark-component [(model)]="model.primarySkill" (modelChange)="onModelChange($event)"></select-mark-component>
    <date-picker [(model)]="model.workExperience" (modelChange)="onModelChange($event)"></date-picker>

    <select-mark-component *ngFor="let item of model.secondarySkills; let i = index;"[(model)]="model.secondarySkills[i]"
                           (modelChange)="updateSecondarySkill($event,item,i)"></select-mark-component>
    <select-mark-component [(model)]="model.nextSecondarySkill" (modelChange)="addSecondarySkill($event)"></select-mark-component>

    <select-component *ngFor="let item of model.otherSkills; let i = index;"[(model)]="model.otherSkills[i]"
                      (modelChange)="updateSecondarySkill($event,item,i)"></select-component>
    <select-component [(model)]="model.nextOtherSkill" (modelChange)="addOtherSkill($event)"></select-component>
    <select-component [(model)]="model.englishLevel" (ngModelChange)="onModelChange($event)"></select-component>
    <input-email [(model)]="model.emailAdresses" (ngModelChange)="onModelChange($event)"></input-email>
    <input-phone-text [(model)]="model.phoneNumbers" (ngModelChange)="onModelChange($event)"></input-phone-text>
    <input-text [(model)]="model.linkedIn" (ngModelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.skypeId" (ngModelChange)="onModelChange($event)"></input-text>
</form>

<form class="add" *ngIf="isVacancyAdd()">
    <input-text [(model)]="model.projectName" (modelChange)="onModelChange($event)"></input-text>
    <select-component [(model)]="model.location" (modelChange)="onModelChange($event)"></select-component>
    <select-component [(model)]="model.status" (modelChange)="onModelChange($event)"></select-component>
    <select-mark-component [(model)]="model.primarySkill" (modelChange)="onModelChange($event)"></select-mark-component>
    <select-mark-component *ngFor="let item of model.secondarySkills; let i = index;"[(model)]="model.secondarySkills[i]"
                           (modelChange)="updateSecondarySkill($event,item,i)"></select-mark-component>
    <select-mark-component [(model)]="model.nextSecondarySkill" (modelChange)="addSecondarySkill($event)"></select-mark-component>
    <select-component *ngFor="let item of model.otherSkills; let i = index;"[(model)]="model.otherSkills[i]"
                      (modelChange)="updateSecondarySkill($event,item,i)"></select-component>
    <select-component [(model)]="model.nextOtherSkill" (modelChange)="addOtherSkill($event)"></select-component>
    <select-component [(model)]="model.englishLevel" (ngModelChange)="onModelChange($event)"></select-component>
    <input-text [(model)]="model.salaryWish" (ngModelChange)="onModelChange($event)"></input-text>
    <input-text [(model)]="model.linkedIn" (ngModelChange)="onModelChange($event)"></input-text>
    <date-picker [(model)]="model.workExperience" (modelChange)="onModelChange($event)"></date-picker>
    <date-picker [(model)]="model.startDate" (modelChange)="onModelChange($event)"></date-picker>
    <input-text [(model)]="model.description" (ngModelChange)="onModelChange($event)"></input-text>
</form>
