.empty-block {
  background-color: #3f51b5;
  height: 160px;
}

.menu-links {
  background-color: #ffffff;
  height: calc(100vh - 160px);
}

.vacancies-page-menu {
  position: fixed;
  top: 64px;
  width: 260px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  transition: 0.3s;
}

.menu-item {
  width: 260px;
  text-align: left;
  padding: 13px 16px;
  color: #606060;
}

@media screen and (max-width: 800px) {
  .vacancies-page-menu {
    display: none;
  }
}
