.empty-block {
  background-color: #3f51b5;
  height: 159px;
}

.menu-links {
  background-color: #ffffff;
  height: 100vh;
}

.vacancies-page-menu {
  max-width: 252px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.menu-item {
  width: 252px;
  text-align: left;
  padding: 13px 16px;
  color: #606060;
}
