<form>
    <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="20px">
        <!--<input-text class="input-text" [(model)]="projectName[0]" [placeholder]="projectName[1]"></input-text>-->
        <!--<select-component [options]="locations" [placeholder]="placeholder"></select-component>-->
    </div>
    <div>
        <!--<datepicker [(model)]="requestDate[0]" [placeholder]="requestDate[1]"></datepicker>-->
        <!--<input-textarea [(model)]="Description[0]" [placeholder]="Description[1]"></input-textarea>-->
    </div>

</form>
