<div class="history-card">
    <div class="title">
        <span class="change-name">{{item.changeName}}</span>
        <span>{{item.userName}}, {{item.changeDate.toDateString()}}</span>
    </div>
    <hr>
    <div class="card" *ngIf="isVacancy()">
        <div class="first-block">
            <div>
                <h4>{{item.data.projectName}}</h4>
                <span class="date">{{item.data.date.toDateString()}}</span>
            </div>
            <p>{{item.data.description}}</p>
        </div>
        <div class="second-block">
            <span>{{item.data.status}}</span>
            <div class="tags">
                <span class="tags-item">{{item.data.primarySkill}}</span>
                <span class="tags-item">{{item.data.location}}</span>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="isCandidate()">
        <div class="first-block">
            <div>
                <h4>{{item.data.candidateName}}</h4>
                <span class="date">{{item.data.date.toDateString()}}</span>
            </div>
            <p>{{item.data.email}}</p>
        </div>
        <div class="second-block">
            <span>{{item.data.status}}</span>
            <div class="tags">
                <span class="tags-item">{{item.data.primarySkill}}</span>
                <span class="tags-item">{{item.data.location}}</span>
            </div>
        </div>
    </div>
</div>


