<a [routerLink]="[item.id]">
    <div class="feedback-card">
        <div class="first-block">
            <h4>{{item.vacancyName}}</h4>
            <span>Feedback from {{item.userName}}</span>
        </div>
        <div class="second-block">
            <div>
                <p>Creation date</p>
                <span class="small">{{item.date | date: "dd.MM.y"}}, {{item.date | date: 'H:mm'}}</span>
            </div>
            <span class="tag" *ngIf="isSkill()">{{item.skillName}} </span>
        </div>
    </div>
</a>
