<div class="feedback-card">
    <div class="first-block">
        <div>
            <h4>{{item.vacancyName}}</h4>
            <span>Feedback from {{item.userName}}</span>
        </div>
        <p class="grey">Interview date: {{item.date | date: "dd.MM.y"}}, {{item.date | date: 'H:mm'}} </p>
    </div>
    <div class="second-block">
        <div>
            <p class="big">Creation date</p>
            <span>{{currDate | date: "dd.MM.y"}}</span>
        </div>
        <span class="tag" *ngIf="isSkill()">{{item.skillName}} </span>
    </div>
</div>
