<!--<md-input-container class="input-text adaptive-components">-->
    <!--<input mdInput-->
           <!--[(ngModel)]="model.value"-->
           <!--(ngModelChange)="onModelChange($event)"-->
           <!--[placeholder]="model.placeholder"-->
           <!--[disabled]="model.disabled"-->
           <!--[formControl]="emailFormControl"-->
            <!--&gt;-->
    <!--<md-error *ngIf="emailFormControl.hasError('pattern')">-->
        <!--Please enter a valid email address-->
    <!--</md-error>-->
<!--</md-input-container>-->
