<accordion>
    <accordion-group>
        <accordion-heading>
            <md-icon mdSuffix>location_on</md-icon>
            Location
            <md-icon class="buttonMore">expand_more</md-icon>
        </accordion-heading>
        <ul class="sub-menu">
            <li *ngFor="let item of sendArrayOfCities; let i = index">
                <check-box [(info)]="sendArrayOfCities[i]" (onChanged)="onChanged($event,'city')"></check-box>
            </li>
        </ul>
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <md-icon mdSuffix>star</md-icon>
            <span>Primary skill</span>
            <md-icon class="buttonMore">expand_more</md-icon>
        </accordion-heading>
        <ul class="sub-menu">
            <li *ngFor="let item of sendArrayOfSkills; let i = index">
                <check-box [(info)]="sendArrayOfSkills[i]" (onChanged)="onChanged($event,'skill')"></check-box>
            </li>
        </ul>
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <md-icon mdSuffix>attach_money</md-icon>
            Salary
            <md-icon class="buttonMore">expand_more</md-icon>
        </accordion-heading>
                <input-filter [(info)]="sendSalary" (onChanged)="onChanged($event,'salary')"></input-filter>
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <md-icon mdSuffix>language</md-icon>
            English level
            <md-icon class="buttonMore">expand_more</md-icon>
        </accordion-heading>
        <ul class="sub-menu">
            <li *ngFor="let item of sendArrayOfLanguages; let i = index">
                <check-box [(info)]="sendArrayOfLanguages[i]" (onChanged)="onChanged($event,'language')"></check-box>
            </li>
        </ul>
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <md-icon mdSuffix>done</md-icon>
            Status
            <md-icon class="buttonMore">expand_more</md-icon>
        </accordion-heading>
        <ul class="sub-menu">
            <li *ngFor="let item of sendArrayOfStatuses; let i = index">
                <check-box [(info)]="sendArrayOfStatuses[i]" (onChanged)="onChanged($event,'status')"></check-box>
            </li>
        </ul>
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <md-icon mdSuffix>work</md-icon>
            Work experience
            <md-icon class="buttonMore">expand_more</md-icon>
        </accordion-heading>
            <data-picker-filter [(info)]="sendDate" (onChanged)="onChanged($event,'date')"></data-picker-filter>
    </accordion-group>
</accordion>
