@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
  margin: 0;
}

a{
  text-decoration: none;
}

html {
  overflow: hidden;
}

.adaptive-components {
  width: 49%;
  padding: 1%;
  min-width: 260px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .adaptive-components {
    padding: 0;
    width: 92%;
  }
}

@media screen and (min-width: 801px) and (max-width: 950px) {
  .adaptive-components {
    padding: 0;
    width: 92%;
  }
}
