div {
  box-sizing: border-box;
  left: 310px;
  margin-bottom: 15px;
  position: absolute;
  top: 30px;
  width: calc(100% - 360px);

}

@media screen and (max-width: 800px) {
  div {
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    margin-bottom: 0;
    text-align: center;
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  div {
    text-align: center;
  }
}
