<div *ngIf="!this.list.data.length">
    not found
</div>
<div *ngIf="isVacancies()">
    <vacancy-card *ngFor="let item of list.data" [item]="item">
    </vacancy-card>
</div>
<div *ngIf="isCandidates()">
    <candidate-card class="listItem" *ngFor="let item of list.data" [item]="item">
    </candidate-card>
</div>
<div *ngIf="isFeedbacks()">
    <feedback-card class="listItem" *ngFor="let item of list.data" [item]="item">
    </feedback-card>
</div>
<div *ngIf="isInterview()">
    <interview-card class="listItem" *ngFor="let item of list.data" [item]="item">
    </interview-card>
</div>
