div, .not-found-wrapp {
  box-sizing: border-box;
  left: 310px;
  margin-bottom: 15px;
  position: absolute;
  top: 30px;
  width: calc(100% - 360px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listItem {
  width: calc((100% - 25px) / 2);
  min-width: 320px;
}

@media screen and (max-width: 700px) {
  .listItem {
    width: 100%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1025px) {
  .listItem {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  div, .not-found-wrapp{
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    margin-bottom: 0;
    text-align: center;
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  div {
    text-align: center;
  }
}

.not-found {
  font-size: 3em;
  color: #606060;
  opacity: 0.8;
}

.not-found-wrapp {
  justify-content: center;
  align-items: center;
}
