<div class="menu-left">
    <div class="empty-block">
        <img src="../../../assets/menu-background.jpg">
    </div>
    <div class="menu-links">
        <!--<button class="menu-item"-->
                <!--md-button-->
                <!--*ngFor="let item of menuItems; let i = index"-->
                <!--(click)="toggle(item.label)"-->
                <!--[ngClass]="{active: toggleFlags[i]}">-->
            <!--{{item.label}}-->
        <!--</button>-->
        <nav md-tab-nav-bar>
            <a md-tab-link
               *ngFor="let item of menuItems"
               [routerLink] = item.link
               routerLinkActive #rla="routerLinkActive"
               [active]="rla.isActive">
                {{item.label}}
            </a>
        </nav>
    </div>

</div>
