<form class="search-block">
    <md-input-container class="search-full-width" floatPlaceholder="never">
        <input mdInput
               [(ngModel)]="info"
               (ngModelChange)="updateCheckedOptions(info)"
               [placeholder]="'Search'"
               name="search"
               (keypress)="enterClick($event)">
        <md-icon mdSuffix>search</md-icon>
    </md-input-container>
</form>
<ul class="triSearch">
    <li *ngFor="let item of list"><button class="buttonTriSearch" md-raised-button (click)="changeInfo(item)">{{item.name}}</button> </li>
</ul>
