.mat-input-container{
  margin-top: 25px;
  background-color: white !important;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}
.search-bar-input {
  width: 866px ;
}
/deep/.mat-input-wrapper {
  margin-left: 22px;
  margin-right: 22px;
}
.search-block{
  margin-left: 70px;
}

md-icon{
  color: #ec407a;
}
